* {
  padding: 0px;
  margin: 0px;
  font-family: 'Courier New', serif;
  font-size: 1em;
}
#feedback {
  position: absolute;
  right: 5%;
  bottom: 5%;
  background: #ddd;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
}
#enter,
#registration {
  right: 5%;
  bottom: 5%;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
  margin: 5px;
}
#feedback div,
#enter div,
#registration div {
  text-align: center;
  cursor: pointer;
  padding: 2px;
}
#feedback ul,
#enter ul,
#registration ul {
  padding: 0px 10px 5px 10px;
  list-style: none;
  display: none;
}
#feedback li,
#enter li,
#registration li {
  margin-bottom: 5px;
}
#feedback input {
  display: block;
  width: 225px;
}
#feedback a {
  background: #999;
  color: #000;
  border-radius: 5px;
  padding: 0px 5px;
  text-decoration: none;
  transition: background 0.3s 0s;
}
#feedback a:hover {
  background: #333;
  color: #fff;
}
#feedback .last,
#enter .last {
  text-align: right;
}

td,
textarea,
input,
select {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: #000000;
  font-weight: normal;
  line-height: 14px;
}
#header {
  background: url('../img/bg.jpg');
  height: 204px;
  padding: 2px;
}
#header h1 {
  font-family: FreeMono;
  font-size: 50px;
  color: rgb(122, 131, 138);
  float: left;
  text-shadow: 1px 1px 1px black;
  padding-top: 0px;
  padding-left: 20px;
}
#logo {
  float: right;
}
.topmenu {
  display: flex;
}
.topmenu a {
  flex: 1;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: #444;
  text-decoration: none;
  border-left: solid 1px white;
  color: white;
  font-size: 20px;
  font-family: 'Courier New', serif;
}
.topmenu a:hover {
  color: white;
  background: DodgerBlue;
}
#footer {
  background: #444;
  color: white;
  padding: 50px;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .topmenu {
    flex-direction: column;
  }

  #logo {
    display: none;
  }
  #header {
    height: 100px;
  }
}

.btn {
  letter-spacing: 1px;
  text-decoration: none;
  background: none;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid;
  padding: 8px 20px;
}

.btn-outlined {
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-outlined.btn-theme {
  background: none;
  color: Navy;
  border-color: Navy;
}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active {
  color: #fff;
  background: Navy;
  border-color: Navy;
}
